@Model COMMS.Models.UserRegister
@{
    ViewBag.Title = "UserRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "用户注册";
}

<h2>UserRegister</h2>
@if (ViewBag.ContentResult != null)
{
    <div class="alert @(ViewBag.ContentResult.ToString().Contains("注册成功") ? "alert-success" : "alert-danger")">
        @ViewBag.ContentResult
    </div>
}
@using (Html.BeginForm("UserRegister", "Home", FormMethod.Post))
{
    <form>
        <div>
            <label for="UserName">用户名:</label>
            <input type="text" id="UserName" name="UserName" required />
        </div>

        <div>
            <label for="Password">密码:   </label>
            <input type="password" id="Password" name="Password" required />
        </div>

        <div>
            <label for="Gender">性别:</label>
            <select id="Gender" name="Gender">
                <option value="">请选择</option>
                <option value="M">男</option>
                <option value="F">女</option>
            </select>
        </div>

        <div>
            <label for="Birthday">出生日期:</label>
            <input type="date" id="Birthday" name="Birthday" />
        </div>

        <div>
            <label for="Role">用户类型:</label>
            <select id="Role" name="Role">
                <option value="Patient">普通用户</option>
                <option value="Admin">管理员</option>
                <option value="Doctor">医生</option>
                <option value="Nurse">护士</option>

            </select>
        </div>

        <div>
            <label for="PhoneNumber">电话号码:</label>
            <input type="text" id="PhoneNumber" name="PhoneNumber" required />
        </div>

        <div>
            <label for="Email">电子邮箱:</label>
            <input type="text" id="Email" name="Email" required />
        </div>

        <div>
            <button type="submit">注册</button>
        </div>

    </form>

}
